/*****************
/* Autor: Carlos Diez Fernández UO284373
/* Descripción: css para la calculadora especializada
/***********/

body { /*Especificidad 001*/
    margin-right: 80em;
    margin-left: 4em;
    margin-top: 5em;
}


form { /*Especificidad 001*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    background-color: aquamarine;
    border-radius: 0.5em;
    padding: 1em;
    width: 27.5em;
    height: 30em;
}
  
  
textarea { /*Especificidad 001*/
    grid-column: span 5;
    margin-bottom: 0.1em;
    margin-top: 0.5em;
    height: 15em;
}

label{ /*Especificidad 001*/
    grid-column: span 5;
}

input[type=button][value="Enter"]{ /*Especificidad 021*/
    grid-column: span 3;
}
  
