/*****************
/* Autor: Carlos Diez Fernández UO284373
/* Descripción: css para la calculadora cientifica
/***********/

body { /*Especificidad 001*/
    margin-right: 80em;
    margin-left: 4em;
    margin-top: 5em;
}


form { /*Especificidad 001*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1em;
    width: 27.5em;
    height: 30em;
}

section{ /*Especificidad 001*/
    grid-column: span 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgba(184, 182, 182, 0.542);
}

label{ /*Especificidad 001*/
    grid-column: span 5;
}

input[type=text] { /*Especificidad 011*/
    grid-column: span 5;
    grid-row: span 4;
    margin-top: 1em;
    background-color: rgba(184, 182, 182, 0.542);
    border-color: white;
}

input[type=button]{ /*Especificidad 011*/
    background-color: rgba(184, 182, 182, 0.434);
    margin-bottom: 0.2em;
    margin-right: 0.2em;
    border-color: white;
}

input[value="0"],input[value="1"],input[value="2"],input[value="3"],
input[value="4"],input[value="5"],input[value="6"],input[value="7"],
input[value="8"],input[value="9"],input[value="."]{ /*Especificidad 011*/
    background-color: white;
}
  
