/*****************
/* Autor: Carlos Diez Fernández UO284373
/* Descripción: define la disposición de las distintas secciones en la página
/***********/
/**
**/
header{  /*Especificidad:001*/
    grid-area: header;
}
main{  /*Especificidad:001*/
    grid-area: main;
}
aside{  /*Especificidad:001*/
    grid-area: aside;
    margin-bottom: 2em;
}
footer{  /*Especificidad:001*/
    grid-area: footer;
}
body{  /*Especificidad:001*/
    display:grid;
    grid-template-areas: 'header header header header'
    'main main main main'
    'aside aside aside aside'
    'footer footer footer footer' ;
    grid-gap: 2em;
}












